@import '../../../../styles.scss';

.row {
    background: $color-400;
    height: 100vh;
    color: white;
    overflow-y: scroll;
    width: 265px;
    transition: all 0.6s ease-out;
    &::-webkit-scrollbar {
        display: none;
    }
    &.close {
        width: 0;
    }
}

.separator {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.438);
    margin-top: 18px;
}

.active {
    background: rgba(5, 5, 5, 0.151);
}

.secction {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 50px 10px 30px;
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:hover {
        background: rgba(5, 5, 5, 0.151);
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    i {
        font-size: 16px;
    }
}

.btn-close-custom {
    background: transparent;
    border: 1px solid white;
    color: white;
    &:hover {
        background: white;
        color: black;
    }
}

.select-emp {
    border: none;
    box-shadow: none;
}

.title {
    position: relative;
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        i {
            font-size: 1.5rem;
        }
    }
}