<div class="container-fluid">
    <div class="row">
        <div class="nav-info" [ngClass]="{'open-menu': menuOpen}" style="z-index: 100;">
            <app-sidenav></app-sidenav>
        </div>
        <div class="menu d-block d-md-none" style="z-index: 10000;">
            <i (click)="open()" class="bi bi-list"></i>
        </div>
        <div class="col-12 home">
            <app-dashboard-info *ngIf="dashboardService.getActualRoute() == 'dashboard'"></app-dashboard-info>
            <app-tables *ngIf="dashboardService.getActualRoute() == 'datos'"></app-tables>
        </div>
    </div>
</div>