<div class="container-fluid py-4 px-4 h-100">
    <div class="row align-items-start justify-content-start  card-custom h-100">
        <div class="col-12 mt-2 p-4">
            <button class="btn  btn-primary mb-2 mt-2" (click)="openModal(modalNewEmpresa, 'lg')">Agregar empresa</button>
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th rowspan="2">Nombre</th>
                        <th>Dirección</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ejemplo nombre</td>
                        <td>Ejemplo dirección</td>
                        <td>Ejemplo Correo</td>
                        <td>Ejemplo Teléfono</td>
                        <td>
                            <div ngbDropdown container="body">
                                <button type="button" class="btn btn-outline-primary btn-sm"
                                    ngbDropdownToggle>Acciones</button>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem>Ver data</button>
                                    <button ngbDropdownItem (click)="openModal(modalNewEmpresa, 'lg')">Editar</button>
                                    <button ngbDropdownItem (click)="openModal(modalEliminar, 'sm')">Eliminar</button>
                                    <div class="dropdown-divider"></div>
                                    <button ngbDropdownItem>Cargar nueva plantilla</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #modalNewEmpresa let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3>Registrar nueva empresa</h3>
    </div>
    <div class="modal-body p-4">
        <div class="container">
            <div class="row">
                <div class="col-6 form-group">
                    <label for="" class="form-label">Nombre:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 form-group">
                    <label for="" class="form-label">Dirección:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 form-group mt-2">
                    <label for="" class="form-label">Correo:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 form-group">
                    <label for="" class="form-label">Teléfono:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 form-group mt-2">
                    <label for="" class="form-label">Estado:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 form-group">
                    <label for="" class="form-label">Ciudad:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 form-group mt-2">
                    <label for="" class="form-label">Plantilla financiera (xlsx)</label>
                    <input type="file" class="form-control" placeholder="Plantilla financiera">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Registrar</button>
        <button class="btn btn-danger" (click)="c()">Cancelar</button>
    </div>
</ng-template>

<ng-template #modalEliminar let-c="close" let-d="dismiss">

    <div class="modal-body text-center">
        <p class="p-0 m-0 p-3">¿Estas seguro que deseas eliminarla?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger">Eliminar</button>
        <button class="btn btn-secondary" (click)="c()">Cancelar</button>
    </div>
</ng-template>