@import "../../../styles.scss";

.btn-custom {
    background: transparent;
    border: 2px solid $primary-color ;
    color: $primary-color;
    font-size: 20px;
    font-weight: bold;
    i {
        font-size: 20px;
    }
    &:active {
        background: $primary-color;
        color: white;
    }
}
h2 {
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(150, 150, 150);
}

.card-form {
    border: 1px solid $primary-color;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.form-group {
    label {
        font-size: 20px;
    }
}
.form-control, .form-select {
    background: $primary-color;
    color: white;
    font-size: 20px;
}
textarea::placeholder {
    color: white;
}
.text-span {
    margin-top: 5px;
    text-align: center;
    color: rgb(163, 163, 163);
}

.sub-title {
    h4 {
        color: rgb(150, 150, 150);
        margin-bottom: 0;
    }
}

.star {
    font-size: 30px;
    color: $primary-color;
    cursor: pointer;
    margin-left: 3px;
    transition: all 1s ease;
  }
  
  .star:hover {
    color: $primary-dark-color;
  }