<div class="container text-center my-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <div class="alert alert-warning" style="background: #1382a756;">
          <i class="bi bi-exclamation-triangle-fill display-1"></i>
          <h4 class="display-6 mt-4">Agrega un archivo</h4>
          <p class="lead">¡Carga un archivo para mostrar datos!</p>
          <!-- <p>Lo sentimos, la página que estás buscando no existe. Vuelve a la <a routerLink="/">página principal</a>.</p> -->
        </div>
      </div>
    </div>
  </div>
  