<div class="container-fluid p-5">
    <div class="row justify-content-center align-items-center card-form">
        <div class="col-12 d-flex justify-content-center align-items-center mb-2">
            <img src="assets/bbtips-logo.webp" alt="">
        </div>
        <div class="col-12 mt-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Gracias por tu participación</h2>
                    <span class="text-span">Con tu información nos ayudas mucho a seguir creciendo y mejorando la calidad de nuestros productos</span>
                </div>
            </div>
        </div>
    </div>
</div>