<div class="container-fluid p-4">
    <div class="row card-custom justify-content-center align-items-center">
        <div class="col-6 px-4 py-3" style="margin-bottom: 2px;">
            <div class="header">
                <h4 class="title" style="font-weight: bold;">
                    Diagnostico rápido ({{selectedYear == 'all' ? 'Todos': selectedYear}})
                </h4>
                <p class="category">
                    Información rápida sobre la empresa
                </p>
            </div>
        </div>
        <div class="col-6 text-end">
            <!-- <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    Tipo
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Porcentaje <i class="bi bi-percent"></i> </button>
                    <button ngbDropdownItem>Pesos <i class="bi bi-currency-dollar"></i> </button>
                </div>
            </div> -->
            <div ngbDropdown class="d-inline-block mx-3">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    Año
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="chargeDataForYear(item)"
                        *ngFor="let item of years">{{item}}</button>
                    <button ngbDropdownItem (click)="chargeDataForYear('all')">Todos</button>
                </div>
            </div>
        </div>
        <div class="col-11 mb-2">
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-between">
                    <div class="card-info ac">
                        <span class="title">Activo circulante</span>
                        <span class="total d-flex align-items-center justify-content-center">{{dataActivos |
                            currency}}
                            <!-- <i style="font-size: 20px; color: green;" class=" mx-2 bi bi-chevron-double-up"></i> -->
                        </span>
                        <span *ngIf="selectedYear =='all'" class="text-muted"
                            style="font-size: 0.9rem;">{{incrementoPorcentualActivos.toFixed(2)}}%</span>
                        <div *ngIf="selectedYear =='all'" class="chart-container">
                            <canvas baseChart [data]="doughnutChartDataActivo" [type]="'doughnut'"
                                [options]="doughnutChartOptions">
                            </canvas>
                        </div>
                    </div>
                    <div class="card-info pc">
                        <span class="title">Pasivo circulante</span>
                        <span class="total d-flex align-items-center justify-content-center">{{dataPasivoCirculante
                            |
                            currency}}
                            <!-- <i style="font-size: 20px; color: green;" class=" mx-2 bi bi-chevron-double-up"></i> -->
                        </span>
                        <span *ngIf="selectedYear =='all'" class="text-muted"
                            style="font-size: 0.9rem;">{{incrementoPorcentualPasivos.toFixed(2)}}%</span>
                        <div *ngIf="selectedYear =='all'" class="chart-container">
                            <canvas baseChart [data]="doughnutChartDataPasivo" [type]="'doughnut'"
                                [options]="doughnutChartOptions">
                            </canvas>
                        </div>

                    </div>
                    <div class="card-info ub">
                        <span class="title">Utilidad bruta</span>
                        <span class="total d-flex align-items-center justify-content-center">{{dataUtilidad |
                            currency}}
                            <!-- <i style="font-size: 20px; color: green;" class=" mx-2 bi bi-chevron-double-up"></i> -->
                        </span>
                        <span *ngIf="selectedYear =='all'" class="text-muted"
                            style="font-size: 0.9rem;">{{incrementoPorcentualBruta.toFixed(2)}}%</span>
                        <div *ngIf="selectedYear =='all'" class="chart-container">
                            <canvas baseChart [data]="doughnutChartDataBruto" [type]="'doughnut'"
                                [options]="doughnutChartOptions">
                            </canvas>
                        </div>
                    </div>
                    <div class="card-info ve">
                        <span class="title">Ventas</span>
                        <span class="total d-flex align-items-center justify-content-center">{{dataVentas |
                            currency}}
                            <!-- <i style="font-size: 20px; color: green;" class=" mx-2 bi bi-chevron-double-up"></i> -->
                        </span>
                        <span *ngIf="selectedYear =='all'" class="text-muted"
                            style="font-size: 0.9rem;">{{incrementoPorcentualVentas.toFixed(2)}}%</span>
                        <div *ngIf="selectedYear =='all'" class="chart-container">
                            <canvas baseChart [data]="doughnutChartDataVentas" [type]="'doughnut'"
                                [options]="doughnutChartOptions">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xxl-8 mt-3">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">
                                Estadísticas importantes
                            </h4>
                            <p class="category">
                                Estadísticas de pasivo circulante, activo circulante y utilidad bruta
                            </p>
                        </div>
                        <div class="content">
                            <canvas  baseChart
                                [datasets]="barChartData.concat(lineChartData)" [labels]="barChartLabels"
                                [options]="barChartOptions" [legend]="barChartLegend" [type]="'bar'">
                            </canvas>
                            <!-- <canvas *ngIf="selectedYear != 'all'" baseChart [datasets]="barChartData"
                                [labels]="barChartLabels" [options]="barChartOptions" [type]="'bar'">
                            </canvas> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="col-4 conclusion p-5">
                    <i class="bi bi-bar-chart-line"></i>
                    <h3>Análisis</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo officia aliquid modi mollitia
                        earum
                        sunt possimus quia magnam minima, facilis, obcaecati ad unde perferendis deleniti nobis
                        laborum
                        placeat vitae maxime.</p>
                </div> -->
            </div>
        </div>
    </div>
</div>